
data/with_cancer_cases/

\.ipynb_checkpoints/barretts_segment_length_predictor-Copy1-checkpoint\.ipynb

barretts_segment_length_predictor-Copy1\.ipynb

barretts_segment_length_predictor_ordinal-Copy1\.ipynb
